<a href="https://colab.research.google.com/github/JosephPLim/Project-Classification/blob/main/ProjectII.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Project II Part I
##Student: Joseph Lim

In [ ]:
#Basic Pandas and Numpy
import numpy as np
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive/')

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

### Proposal 1: Predicting Churn in telephone customers
1. This is a data set [from Kaggle](https://www.kaggle.com/competitions/customer-churn-prediction-2020).
2. It utilizes customer data regarding whether a customer will "churn" (i.e. leave their current phone company) or not.
3. The target is whether or not the customer will leave the phone company (churn)
4. One row represents a single customer of a phone company.
5. This is a classification problem.
6. There are 19 features (20 columns, but one is churn data)
7. There are 4250 rows in the training data set, however, Kaggle provides an extra 750 testing rows in a "test.csv" file, which if implemented results in a 5000 row data set.
8. I struggle with exploratory and explanatory data analysis, so I foresee that doing high quality visualizations will be a thorn in my side through this project.

####<center>Why do I want to work with this data set</center>
I am ultimately looking towards doing more work in financial sectors. Using this data set would allow me to segue further into data sets that are time series based, as well as data sets that are more financial in nature. I have some knowledge in Buy-Till-You-Die and Customer Based Corporate Valuation models, and I'd like to explore these in my career. For example, if there were time series with this data set, I might be able to further build upon it and predict when a customer, or genre of customers would churn. 

####<center>On a scale of 1-10 how much would you like to do this data set</center>
I would say I'm at a solid 8.

In [ ]:
phone_filename = "/content/drive/MyDrive/eLearning/CodingDojo - Data Science/Portfolio Projects/train.csv"
phone_df = pd.read_csv(phone_filename)
phone_df.head()

,state,account_length,area_code,international_plan,voice_mail_plan,number_vmail_messages,total_day_minutes,total_day_calls,total_day_charge,total_eve_minutes,total_eve_calls,total_eve_charge,total_night_minutes,total_night_calls,total_night_charge,total_intl_minutes,total_intl_calls,total_intl_charge,number_customer_service_calls,churn
0,OH,107,area_code_415,no,yes,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,no
1,NJ,137,area_code_415,no,no,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,no
2,OH,84,area_code_408,yes,no,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,no
3,OK,75,area_code_415,yes,no,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,no
4,MA,121,area_code_510,no,yes,24,218.2,88,37.09,348.5,108,29.62,212.6,118,9.57,7.5,7,2.03,3,no

In [ ]:
phone_df.isna().sum()

state                            0
account_length                   0
area_code                        0
international_plan               0
voice_mail_plan                  0
number_vmail_messages            0
total_day_minutes                0
total_day_calls                  0
total_day_charge                 0
total_eve_minutes                0
total_eve_calls                  0
total_eve_charge                 0
total_night_minutes              0
total_night_calls                0
total_night_charge               0
total_intl_minutes               0
total_intl_calls                 0
total_intl_charge                0
number_customer_service_calls    0
churn                            0
dtype: int64

In [ ]:
phone_df.shape

(4250, 20)

In [ ]:
phone_df.dtypes

state                             object
account_length                     int64
area_code                         object
international_plan                object
voice_mail_plan                   object
number_vmail_messages              int64
total_day_minutes                float64
total_day_calls                    int64
total_day_charge                 float64
total_eve_minutes                float64
total_eve_calls                    int64
total_eve_charge                 float64
total_night_minutes              float64
total_night_calls                  int64
total_night_charge               float64
total_intl_minutes               float64
total_intl_calls                   int64
total_intl_charge                float64
number_customer_service_calls      int64
churn                             object
dtype: object

### Proposal 2: Predicting whether customers will claim a car loan
1. This is a data set [from Kaggle](https://www.kaggle.com/datasets/sagnik1511/car-insurance-data).
2. It utilizes customer data regarding whether a customer will claim or not claim a car loan
3. The target is whether or not the customer will or will not claim their car loan (outcome)
4. One row represents a single customer
5. This is a classification problem.
6. There are 18 features (19 columns, but one is outcome data)
7. There are 10000 rows
8. I struggle with exploratory and explanatory data analysis, so I foresee that doing high quality visualizations will be a thorn in my side through this project.

In [ ]:
insurance_filename = "/content/drive/MyDrive/eLearning/CodingDojo - Data Science/Portfolio Projects/Car_Insurance_Claim.csv"
insurance_df = pd.read_csv(insurance_filename)
insurance_df.head()

,ID,AGE,GENDER,RACE,DRIVING_EXPERIENCE,EDUCATION,INCOME,CREDIT_SCORE,VEHICLE_OWNERSHIP,VEHICLE_YEAR,MARRIED,CHILDREN,POSTAL_CODE,ANNUAL_MILEAGE,VEHICLE_TYPE,SPEEDING_VIOLATIONS,DUIS,PAST_ACCIDENTS,OUTCOME
0,569520,65+,female,majority,0-9y,high school,upper class,0.629027,1.0,after 2015,0.0,1.0,10238,12000.0,sedan,0,0,0,0.0
1,750365,16-25,male,majority,0-9y,none,poverty,0.357757,0.0,before 2015,0.0,0.0,10238,16000.0,sedan,0,0,0,1.0
2,199901,16-25,female,majority,0-9y,high school,working class,0.493146,1.0,before 2015,0.0,0.0,10238,11000.0,sedan,0,0,0,0.0
3,478866,16-25,male,majority,0-9y,university,working class,0.206013,1.0,before 2015,0.0,1.0,32765,11000.0,sedan,0,0,0,0.0
4,731664,26-39,male,majority,10-19y,none,working class,0.388366,1.0,before 2015,0.0,0.0,32765,12000.0,sedan,2,0,1,1.0

In [ ]:
insurance_df.isna().sum()

ID                       0
AGE                      0
GENDER                   0
RACE                     0
DRIVING_EXPERIENCE       0
EDUCATION                0
INCOME                   0
CREDIT_SCORE           982
VEHICLE_OWNERSHIP        0
VEHICLE_YEAR             0
MARRIED                  0
CHILDREN                 0
POSTAL_CODE              0
ANNUAL_MILEAGE         957
VEHICLE_TYPE             0
SPEEDING_VIOLATIONS      0
DUIS                     0
PAST_ACCIDENTS           0
OUTCOME                  0
dtype: int64

In [ ]:
insurance_df.shape

(10000, 19)

In [ ]:
insurance_df.dtypes

ID                       int64
AGE                     object
GENDER                  object
RACE                    object
DRIVING_EXPERIENCE      object
EDUCATION               object
INCOME                  object
CREDIT_SCORE           float64
VEHICLE_OWNERSHIP      float64
VEHICLE_YEAR            object
MARRIED                float64
CHILDREN               float64
POSTAL_CODE              int64
ANNUAL_MILEAGE         float64
VEHICLE_TYPE            object
SPEEDING_VIOLATIONS      int64
DUIS                     int64
PAST_ACCIDENTS           int64
OUTCOME                float64
dtype: object